extends layout

block content
    .container
        h3= title
        if (errors)
            .alert.alert-danger= errors.title.msg
        form(action='/categories/edit/' + category._id, method='post')
            .form-group
                label(for='name') Category Name
                input#name.form-control(type='text', name='title', value=category.title, placeholder='Category Name')
            button.btn.btn-primary.mb-2(type='submit') Save
            a.btn.btn-warning.mb-2.ml-2(href='/manage/categories') Back
